---
layout: base.html
title: Home
---

<section class="bg-white dark:bg-gray-900">
  {% include "./_includes/partials/hero_snippet.html" %}
</section>

<section class="bg-gray-50 dark:bg-gray-800">
  {% include "./_includes/partials/team_snippet.html" %}
</section>

<section class="bg-white dark:bg-gray-900">
  {% include "./_includes/partials/services_snippet.html" %}
</section>

<section class="bg-gray-50 dark:bg-gray-800">
  {% include "./_includes/partials/gallery_snippet.html" %}
</section>

<section class="bg-white dark:bg-gray-900">
  {% include "./_includes/partials/testimonials_snippet.html" %}
</section>

<section class="bg-gray-50 dark:bg-gray-800">
  {% include "./_includes/partials/contact_snippet.html" %}
</section>
