<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
      {{ gallery.title }}
    </h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
      {{ gallery.intro }}
    </p>
  </div>
  <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">

    {% for image in gallery.items %}
    <img class="w-11/12 rounded-lg col-span-2 mb-1" src={{image.URL}} alt={{image.desc}} />
    {% endfor %}
  </div>
</div>